.btn {
	position: absolute;
	height: 40px;
	top: 228px;
	cursor: pointer;

	.text {
		position: absolute;
		height: 24px;
		top: calc(50% - 24px / 2);

		font-size: 14px;
		line-height: 24px;
		text-align: center;
		color: #FFFFFF;
	}

	.background {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		background: #4262FF;
		border-radius: 6px;
	}
}