.body {
	position: absolute;
	left: 9.26%;
	right: 9.26%;
	top: 28%;
	bottom: 40%;

	background: #FFFFFF;
	border: 1px solid #C3C2CF;
	box-sizing: border-box;
	border-radius: 4px;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	max-height: calc(100vh - 380px);
	overflow-x: hidden;
	overflow-y: auto;

	.first-item {
		height: 24px;
		margin-top: 8px;
		margin-left: 8px;
		font-size: 14px;
		line-height: 24px;
		color: #C3C2CF;
	}

}