// TODO нужен уникальный идентификатор
.frame {
	position: relative;
	font-family: Open Sans, serif;
	font-style: normal;
	font-weight: normal;

	background: #FFFFFF;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	border-radius: 8px;

	span.title {
		position: absolute;
		left: 9.26%;
		right: 9.26%;
		top: 10.67%;
		bottom: 80%;

		font-size: 20px;
		line-height: 27px;
		color: #050038;
	}

	div.header {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 32%;

		background: #F8F8F7;
		border-radius: 8px 8px 0 0;
	}
}